@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat;
}

body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background-color: #f7f7f7;

}

.navigation {
  position: relative;
  height: 380px;
  width: 75px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: -20px 20px 50px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin:1.5em;
}
.navigation ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 8px;
  gap: 10px;
  width: 100%;
}
.navigation ul li {
  list-style: none;
  position: relative;
  width: 60px;
  height: 60px;
  padding: 0px 10px;
  border-radius: 30px;
  transition: 0.5s;
}
.navigation ul li.active {
  background-color: var(--clr);
  width: 160px;
  transform: translate(10px);
}

.navigation ul li.active::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -5px;
  width: 100%;
  height: 100%;
  background-color: var(--clr);
  border-radius: 30px;
  filter: blur(8px);
  opacity: 0.25;
  transition: 0.5s;
}
.navigation ul li:hover {
  background-color: var(--clr);
  transform: translateX(-20px);
}

.navigation ul li a {
  position: absolute;
  left: 0;
  width: 60px;
  height: 100%;
  overflow: hidden;
  text-decoration: none;
}
.navigation ul li.active a {
  width: 100%;
}
.navigation ul li a .icon {
  position: absolute;
  min-width: 60px;
  height: 60px;

  display: flex;

  justify-content: center;
  align-items: center;
  color: grey;
  font-size: 1.5rem;
  transition: 0.5s;
}

.navigation ul li:hover a .icon,
.navigation ul li.active a .icon {
  color: white;
}

.navigation ul li a .text {
  position: absolute;
  left: 70px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
}
